@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
  

}
.left-image{
    width: 25vw; /* 25% of the viewport width */
    height: 80%;
    background: url("c4.jpg") no-repeat center;
    background-size: cover;
    margin-left: 10%;
    margin-top: 40%;
    margin-bottom: 40%;
    background-size: contain;
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px;
}
header .navbar{
    display: flex;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
    justify-content: space-between;
   
}
.navbar .logo{
    font-size: 2.1rem;
    font-weight: 600;
    padding-left: 20px;
}
.navbar .logo span{
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease;
}
.navbar .menu-links{
display:flex;
gap: 20px;
list-style: none;
padding: 10px;
margin: 0;
}
.navbar a{
    color:#652601;
    text-decoration: none;
}
.hero-section .content{
    color: #652601;
}